h2{
    
    text-align: center;
}
p{
    padding-left: 50%;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;

}
.item{
    position: relative;
    
}
.item h4 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    opacity: 0;
    

}
.item:hover h4{
    opacity: 1;
}
.item h3{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    opacity: 0;
    

}
.item:hover h3{
    opacity: 1;
}
.item:hover img{
    opacity:0.6 ;
}
.panel {
    border: 1px solid #f8f9fa;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0), 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
